footer p {
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
}

footer {
    padding: 10px;
    border-top: solid 1px #252525;
    background: rgb(97, 157, 109);
}

