footer p {
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
}


footer img {
  width: 50px;
  aspect-ratio: 1/1;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color:  rgb(48, 96, 48);
    border-top: 1px solid #e7e7e7;
  }
  
  .footerdiv {
    flex: 1;
    padding-left: 100px;
  }
  
  .footer1 {
    text-align: left;
  }
  
  .footer2{
    text-align: left;
  }
  
  .footer3{
    text-align: right;
  }
  
  .etiquetacont {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .infocont {
    margin-bottom: 15px;
  }