#mapa{
    text-align: center;
}
p{
    text-align: justify;
}

.logos{
    width: 25%;
    border-radius: 100%;
    border-color: rgb(16, 14, 14);
    border-style: solid;
    border-top: 20px;
    border-left: 20px;
    aspect-ratio: 1/1;
        }

        #logolargo{
            width: 55%;
            border-radius: 100%;
            border-color: rgb(16, 14, 14);
            border-style: solid;
            border-top: 20px;
            border-left: 20px;
            align-items: center;
        }


        #clientes{
            display: flex;
            flex: wrap;
            justify-content: space-around;
            align-items: stretch;
        
        }

        #clientes2{
            display: flex;
justify-content: center;
margin-top: 15px;
                }

                #ubicacion{
background-color: rgb(48, 96, 48);
border: 1px rgb(36, 34, 34) solid;
color: white;
border-width: 0px 8px 8px 0px;
border-radius: 10px;
                        }

                        #nosotros img{
                            align-items: center;
                            height: 700px;
                            border-radius: 25%;
                            border: 5px rgb(16, 14, 14);
                            border-style: groove;
                        }
#nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
}