section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    }

.arts{
margin-bottom: 50px;
width:22%;
padding: 1%;
text-align: justify;
font-size: 16px;
border: 2px solid;
border-radius: 15px 15px 0px 0px;
border-bottom: 5px solid;
border-right: 5px solid;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(174, 248, 148);
text-align: center;
}

.titulo{
text-align:center;
text-decoration: underline;
}

.arts img{
height: 165px;
border-radius: 100%;
border-color: rgb(16, 14, 14);
border-style: solid;
border-top: 20px;
border-left: 20px;
opacity: 0.5;
transition: opacity 0.3s ease;
aspect-ratio: 1/1;
    }

#ficha{
    display:block;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 5px solid;
    border-right: 5px solid;
    background-color: rgb(174, 248, 148);
}

.arts img:hover{
        opacity: 1;
        }

        